Host jumpbox.datad0g.com
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host jumpbox.datadoghq.com
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host github.com
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
